@import "tailwindcss";

@theme {
  --color-back-main: rgb(67, 67, 67);
}

body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #e5e7eb;
    overflow: hidden;
  }

  html {
    overflow: hidden;
    height: 100%;
  }

@layer components {
  .main-visual-comp {
    background: var(--color-back-main);
    border-radius: var(--radius-2xl);
    backdrop-filter: var(--blur-2xl);
  }
}